<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.appkhambenh">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppKhamBenh"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.ui.doctor.doctor.ListDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ui.doctor.department.EditDepartmentClinicActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ui.doctor.time_working.EditTimeWorkActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ui.doctor.LoginWithDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ui.user.avatar.SeeAvatarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ui.user.avatar.EditAvatarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ui.user.medicine.MedicineDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ui.user.medicine.MedicineActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ui.user.appointment.AppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ui.user.qr.QrActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ui.user.LoginWithUser"
            android:exported="false" />
        <activity
            android:name=".ui.ui.MainActivity"
            android:exported="false"
            android:fitsSystemWindows="false" />
        <activity
            android:name=".ui.ui.splash.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>